:root {
    --cor-principal: salmon;
    --cor-borda: #999999;
    --cor-sombra: rgba(0,0,0,0.2);
    --font-size: 1.2rem;
    --font-size-small: 1rem;
    --font-family: Arial,Helvetica,Verdana,sans-serif;
}

p, legend {
    margin-bottom: 0px;
}

label, legend {
    font-size: var(--font-size-small);
}

.card {
    box-shadow: 0 4px 8px 0 var(--cor-sombra);
    transition: 0.3s;
    margin: 0px 20px 0px 20px;
    padding: 20px;
    height: 120px;
}

.card > img {
    width: 100%;
    margin-bottom: 20px;
}

.pagamento-cartao-svg {
    filter: grayscale(100%);
    opacity: 0.8;
}

.pagamento-cartao-svg.active {
    filter: none;
    opacity: 1;
}

.conteudo > input[type="radio"] {
    position: absolute;
    bottom: 5px;
    left: 45%;
}

#lista-cartoes {
    display: grid;
    grid-template-columns: repeat(auto-fill, 30px);
    grid-column-gap: 2px;    
    list-style-type: none;
    margin-bottom: 0px;
    padding: 0;
}

#alterar-endereco {
    padding-top: 20px;
    color: rgba(70,130,180, 1);
}

#grid_valor-entrega > p {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

#grid_info-entrega {
    padding: 20px;
}

/*Grid Layout*/

#wrapper {
    display: grid;
    grid-template-areas:    "header"
                            "confirmacao-compra"
                            "pagamento"
                            "footer";
    grid-gap: 20px;
    justify-content: center;
    font-family: var(--font-family);
    font-size: var(--font-size);
}

#grid_header {
    grid-area: header;
    display: grid;
    grid-template-areas:    "header-logo header-navbar header-icons";
    justify-content: space-between;
    border: 1px solid var(--cor-borda);
    box-shadow: 0 4px 8px 0 var(--cor-sombra);
    transition: 0.3s;
}

    #grid_header-logo {
        grid-area: header-logo; 
    }

    #grid_header-navbar {
        grid-area: header-navbar;
    }

    #grid_header-icons {
        grid-area: header-icons;   
    }

#grid_confirmacao-compra {
    grid-area: confirmacao-compra;
    display: grid;
    grid-template-areas:    "metodo-entrega info-entrega" 
                            "revisao-produtos revisao-produtos";
    grid-gap: 20px;
}

    #grid_metodo-entrega {
        grid-area: metodo-entrega;
        display: grid;
        grid-template-areas:    "opcoes-entrega"
                                "valor-entrega";                                      
        grid-gap: 20px;
        padding-top: 20px;
        border: 1px solid var(--cor-borda);
        box-shadow: 0 4px 8px 0 var(--cor-sombra);
        transition: 0.3s;
    }

        #grid_opcoes-entrega {
            grid-area: opcoes-entrega;
            display: grid;
            justify-content: center;  
            grid-template-columns: repeat(auto-fit, 300px);
            grid-gap: 20px;
        }
        
        #grid_valor-entrega {
            grid-area: valor-entrega;
            display: grid;
            justify-content: right;
        }

    #grid_info-entrega {
        grid-area: info-entrega;
        border: 1px solid var(--cor-borda);
        box-shadow: 0 4px 8px 0 var(--cor-sombra);
        transition: 0.3s;
    }

    #grid_revisao-produtos {
        grid-area: revisao-produtos;
        border: 1px solid var(--cor-borda);
        box-shadow: 0 4px 8px 0 var(--cor-sombra);
        transition: 0.3s;
    }

#grid_pagamento {
    grid-area: pagamento;
    display: grid;
    grid-template-areas:    "metodo-pagamento"
                            "dados-pagamento";
    grid-gap: 20px;    
}

    #grid_metodo-pagamento {
        grid-area: metodo-pagamento;
        border: 1px solid var(--cor-borda);
        box-shadow: 0 4px 8px 0 var(--cor-sombra);
        transition: 0.3s;
    }

    #grid_dados-pagamento {
        grid-area: dados-pagamento;
        display: grid;
        justify-content: center;
        grid-template-areas:    "pagamento-boleto"
                                "pagamento-cartao";                                
        border: 1px solid var(--cor-borda);
        box-shadow: 0 4px 8px 0 var(--cor-sombra);
        transition: 0.3s;
        padding: 20px;
    }

        #grid_pagamento-boleto{

        }

        #grid_pagamento-cartao {
            grid-area: dados-pagamento;
            display: grid;
            grid-template-areas:    "pagamento-cartao-numero"
                                    "pagamento-cartao-lista"                                
                                    "pagamento-cartao-validade"
                                    "pagamento-cartao-seguranca"
                                    "pagamento-cartao-parcelas"
                                    "pagamento-cartao-pagar";
            grid-row-gap: 10px;
        }

            #grid_pagamento-cartao-numero {
                grid-area: pagamento-cartao-numero;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 10px;
            }

            #grid_pagamento-cartao-lista {
                grid-area: pagamento-cartao-lista;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 10px;
            }

            #grid_pagamento-cartao-validade {
                grid-area: pagamento-cartao-validade;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 10px;
            }

            #grid_pagamento-cartao-validade input {
                width: 80px;
            }

            #grid_pagamento-cartao-seguranca {
                grid-area: pagamento-cartao-seguranca;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 10px;
            }

            #grid_pagamento-cartao-seguranca input {
                width: 80px;
            }

            #grid_pagamento-cartao-parcelas {
                grid-area: pagamento-cartao-parcelas;
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-column-gap: 10px;
            }

            #grid_pagamento-cartao-parcelas input {
                width: 80px;
            }
            
            #grid_pagamento-cartao-pagar {
                grid-area: pagamento-cartao-pagar;
                grid-column-gap: 10px;
            }

#grid_footer {
    grid-area: footer;
    display: grid;
    grid-template-areas:    "espaco footer-logo footer-social-media";
    justify-content: space-between;
    border: 1px solid var(--cor-borda);
    box-shadow: 0 4px 8px 0 var(--cor-sombra);
    transition: 0.3s;
}

    #grid_footer-logo {
        grid-area: footer-logo;
    }

    #grid_footer-social-media {
        grid-area: footer-social-media;
    }