/*html{
  position: relative;
  min-height: 100%;
}
*/

body {
  font-family:"Maven Pro", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  width: 100%;
  height: 100%;
}

.produto input {
	text-align: center;
}

@media (max-width: 991px){
	#precoFrete {
		padding-top: 1rem;
	}
	.produto-descricao {
		justify-content: center;
	}
}

@media (max-width: 575px){
	#produto-adicionado-grid .col-12 {
		margin-top: 20px;
	}
}

@media (min-width: 992px){
	.produto-descricao {
		justify-content: flex-start;
	}
}

/*Grid Containers*/

.d-flex {
	margin: 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.wrapper {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	grid-template-areas:	"header"	
							"produtos"
							"entrega"
							"pagamento"
							"footer";
	grid-row-gap: 20px;
}


#page-header-grid {
	grid-area: header;
	background: orangered;
	height: 50px;
}



#page-header-grid .d-flex {
	justify-content: space-between;
}



#produtos-grid {
	grid-area: produtos;
	display: grid;
	grid-template-areas:	"produto-relacionado"	
							"produto-adicionado";
	grid-row-gap: 20px;
}

#produto-relacionado-grid {
	margin-top: 70px;
	grid-area: produto-relacionado;
}

#produto-relacionado-grid > p {
	color: orangered;
	font-size: 1.2rem;
}

.produto-sugerido {
	text-align: center;
}

.produto-sugerido figcaption {
	color: orange;
}


#produto-adicionado-grid {
	grid-area: produto-adicionado;
}

#produto-adicionado-grid > p{
	color: orangered;
	font-size: 1.5rem;
}


#entrega-grid {
	grid-area: entrega;
}

#entrega-grid > .d-flex{
	justify-content: flex-start;
}


#pagamento-grid {
	grid-area: pagamento;
	padding-top: 2rem;
	padding-bottom: 2rem;

}

#entrega-grid .d-flex {
	justify-content: space-between;
}




#pagamento-grid > .d-flex {
	justify-content: flex-end;
	text-align: right
}

#pagamento-grid button {
	width: 200px;
	height: 70px;
	font-size: 20px;
}


#page-footer-grid {
	grid-area: footer;
}


/* Elementos */

.produto {
	padding: 1rem;
	margin-bottom: 1rem;
}

.header-element {
	align-self: center;
}

.fa {
  color: #222222;
}

.btn-danger {
  box-shadow: 1px 1px 5px #888888
}

/* Navbar */

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #EF5666;
}

.navbar-brand > img {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: 0px;
  width: 40px;
}

.nav-menu {
   padding-left: 5px;
   padding-right: 5px;
}

/* Footer */

footer {
  background-color: #EF5666;
}


footer i {
	padding-right: 10px;
}








.v-center{
	height: 90%;
	align-items: center;
}

.produto-descricao {
	height: 100%;
	align-items: center;
}

.flex-column p {
	margin-bottom: 0;
}