/*Overall settings*/

.container {
    margin: auto;
    width: 90%;
}

/*Elements CSS*/

#produtos-grid img  {
    padding-top: 10px;
    width: 200px;
}

#produtos-grid h5 {
    font-weight: normal;
}

#produtos-grid > div > h5 {
    color: #22899f;
}

h5.card-text {
    font-size: 1.2em;
}

p.card-text {
    color: orange;
    font-size: 1.1em;
}

div.card:not(.bordered) {
    border: none;
}

div.card:hover {
    border: solid 1px #22899f;
}

/*Navbar Section*/

.navbar {
    background-color: #EF5666;
}

.navbar-brand > img {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0px;
    width: 40px;
}

.fa {
    color: #222222;
}

/*Banner Carousel Section*/

@media screen and (max-width: 784px){
    #carousel-grid {
        display: none;
    }
    #produtos-grid {
        padding-top: 40px;
    }
    #produtos-grid > div > h5 {
        text-align: center;
    }
    div.card:not(.bordered) {
        border: 1px solid rgba(0,0,0,0.125);
    }
}

@media screen and (max-width: 991px){
    .nav-menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .img-fluid {
        height: 250px;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 35px;
        width: 35px;
        margin-top: 25px;
    }
    #carousel-grid {
        padding-top: 40px;
    }  
}

@media screen and (max-width: 1199px){
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 45px;
        width: 45px;
        margin-top: 20px;
    }
    .img-fluid {
        height: 300px;
    }
    #carousel-grid {
        padding-top: 45px;
    }  
}

@media screen and (min-width: 1200px){
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    #carousel-grid {
        padding-top: 45px;
    }
    .img-fluid {
        height: 340px;
    }  
}

@media screen and (min-width: 1900px){
    .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 50px;
        width: 50px;
        margin-top: 10px;
    }
    #carousel-grid {
        padding-top: 45px;
    }
    .img-fluid {
        height: 500px;
    }  
}

.carousel-inner > .carousel-item > img {
    margin: 0 auto;
    width: 100%;
}

/* Footer settings */

footer {
    background-color: #EF5666;
    color: white;
  }
  
footer i {
    padding-right: 10px;
}

/* Page Grid */

.wrapper {
    display: grid;
    grid-template-areas:    "header"  
                            "carousel"
                            "grid-produtos"
                            "footer";
    grid-row-gap: 20px;
}

#page-header-grid {
    grid-area: header;
}  

#carousel-grid {
    grid-area: carousel;
}  

#produtos-grid {
    grid-area: grid-produtos;
    display: grid;
    grid-template-areas:    "produtos-destaque-titulo"
                            "produtos-destaque"
                            "produtos-caes-titulo"  
                            "produtos-caes" 
                            "produtos-gatos-titulo"
                            "produtos-gatos"
                            "produtos-medicamentos-titulo"
                            "produtos-medicamentos";
    grid-row-gap: 10px;
}

#produtos-destaque-titulo-grid {
    grid-area: produtos-destaque-titulo;
}

#produtos-destaque-grid {
    grid-area: produtos-destaque;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 350px));
    text-align: center;
    justify-content: center;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
}

#produtos-caes-titulo-grid {
    grid-area: produtos-caes-titulo;
}


#produtos-caes-grid {
    grid-area: produtos-caes;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    text-align: center;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
}

#produtos-gatos-titulo-grid {
    grid-area: produtos-gatos-titulo;
}

#produtos-gatos-grid {
    grid-area: produtos-gatos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    text-align: center;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
}

#produtos-medicamentos-titulo-grid {
    grid-area: produtos-medicamentos-titulo;
}

#produtos-medicamentos-grid {
    grid-area: produtos-medicamentos;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    text-align: center;
    justify-content: flex-start;
    margin: 0 0 20px 0;
    grid-row-gap: 1em;
}

#page-footer-grid {
    grid-area: footer;
}