<form name="cadastroForm" class="login-pane" action="" method="post" ng-controller="registerController">
	<div>
		<div class="clearfix">
			<div class="form-group"> <!--Nome-->
				<input type="text" name="userAddress" class="form-control" placeholder="E-mail" ng-model="emailAddress" required>
				<span ng-show="loginForm.userAddress.$error.email">Insira um e-mail válido</span>
			</div>
			<div class="form-group"> <!--E-mail-->
				<input type="email" name="userAddress" class="form-control" placeholder="E-mail" ng-model="emailAddress" required>
				<span ng-show="loginForm.userAddress.$error.email">Insira um e-mail válido</span>
			</div>
			<div class="form-group"> <!--Senha-->
				<input type="password" name="userAddress" class="form-control" placeholder="E-mail" ng-model="emailAddress" required>
				<span ng-show="loginForm.userAddress.$error.email">Insira um e-mail válido</span>
			</div>
			<div class="form-group"> <!--Telefone-->
				<input type="number" name="userAddress" class="form-control" placeholder="E-mail" ng-model="emailAddress" required>
				<span ng-show="loginForm.userAddress.$error.email">Insira um e-mail válido</span>
			</div>
			<div class="form-group"> <!--CEP-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group"> <!--Estado-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group"> <!--Cidade-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group"> <!--Bairro-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group"> <!--Rua-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group"> <!--Numero-->
				<input type="number" name="userPass" class="form-control" placeholder="Senha" ng-model="password" required>
			</div>
			<div class="form-group pull-left"><button type="button" class="btn btn-danger" ng-click="">Entrar</button></div>
			<div class="form-group pull-right"><label class="checkbox"><input type="checkbox" value="remember-me"> Lembrar Senha</label></div>
		</div>
		<div class="password-alert"><a href="#">Esqueceu a senha?</a></div>
	</div>
	<hr>
<form>