html, body {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 0.9em;
	background-image: url('../imagens/acesso_background.jpg');
	background-repeat: repeat;	
}

label {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
} 

#background-image {
	background-image: url('imagens/login-background.jpg');
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 0;
	opacity: 0.6;
	background-repeat: repeat;
}

.login-pane {
	width: 50%;
	margin: 0 auto;
	padding: 2rem 2rem 1rem 2rem;
	background: white;
	box-shadow: 0px 0px 15px #888888;
	border: 1px solid #bdc3c7;
}


@media (max-width: 1200px) and (min-width: 993px){

	.login-pane {
		width: 60%;
	}
}

@media (max-width: 992px) and (min-width: 769px){

	.login-pane {
		width: 65%;
	}
}

@media (max-width: 768px){
	
	.login-pane {
		width: 80%;
	}

	.centralize {
		text-align: center;
	}
}

.brand {
	width: auto;
	height: auto;
	text-align: center;
	margin-bottom: 2rem;
}

.password-alert {
	margin-top: -1em;
	width: 100%;
	background-color: salmon;
	padding: 0.5em;
	text-align: center;
	border: 1px solid #d9514f;
}

.password-alert > a {
	color: rgba(0,0,0,0.8);
}

.btn-danger {
	font-size: 1.2rem;
	box-shadow: 1px 1px 5px #888888
}


/* Social Links */

.social-block-title {
	width: 11em;
	background-color: white;
	margin: 0 auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: -2.3em;	
}

.social-block {
	text-align: center;
}

.social-block > a {
	padding-right: 0.5em;
}

.social-block > a:hover {
	text-decoration: none;
}

.fa-facebook-square{
	color: #3b5998;
}

.fa-twitter-square{
	color: #00aced;
}

.fa-google-plus-square{
	color: #dd4b39;
}

/* Usefull  Classes */

.push-upwards {
	transform: translateY(-30px);
}

.pull-left{
	float: left!important;
}

.pull-right {
	float: right!important;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;	
}

.align-center {
	margin: 0 auto;
}


