html, body {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 0.9em;
	background-image: url('imagens/acesso_background.jpg');
	background-repeat: repeat;	
}

label {
	margin-top: 0.5em;
	margin-bottom: 0em;
}

hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 1.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: rgba(0,0,0,0.2);
} 

.login-pane {
	width: 60%;
	margin: 0 auto;
	padding: 2rem 2rem 1rem 2rem;
	background: white;
	box-shadow: 0px 0px 15px #888888;
	border: 1px solid #bdc3c7;
}

@media (max-width: 767px) {
	
	html, body {
		font-size: 0.65em;
	}
	.login-pane {
		width: 100%;
	}
}

.brand {
	width: 20em;
	height: 6rem;
	margin: 0 auto;
	margin-bottom: 2rem;
	background-color: gray;
}

.password-alert {
	margin-top: -1em;
	width: 100%;
	background-color: salmon;
	padding: 0.5em;
	text-align: center;
	border: 1px solid #d9514f;
}

.password-alert > a {
	color: rgba(0,0,0,0.8);
}

.btn-danger {
	box-shadow: 1px 1px 5px #888888
}


/* Social Links */

.social-block-title {
	background-color: white;
	width: 11em;
	margin: 0 auto;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin-top: -2.4em;
}

.social-block {
	text-align: center;
	margin-top: 1.5em;
}

.social-block > a {
	padding-right: 0.5em;
}

.social-block > a:hover {
	text-decoration: none;
}

.fa-facebook-square{
	color: #3b5998;
}

.fa-twitter-square{
	color: #00aced;
}

.fa-google-plus-square{
	color: #dd4b39;
}

/* Usefull  Classes */

.clearfix {
	margin-bottom: 20px;
}

.pull-left{
	float: left!important;
}

.pull-right {
	float: right!important;
}

.pull-center {
	text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

